<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">


</head>
<body>
<div class="container-categories" style="background-color: #d1d1d1">
    <h2 style="text-align: center">Info about our request</h2>
    <div th:text="${ipAddress}"></div>
    <div th:text="${clientAgent}"></div>

    <th:block th:if="${session.user!=null}">
        <h2>Info about user</h2>
        <div th:text="${session.user.username}"></div>
        <div th:text="${session.user.name}"></div>
        <div th:text="${session.user.surname}"></div>
        <div>
            <a href="/logout">Logout</a>
        </div>
    </th:block>

    <h2>Categories</h2>
    <ul class="list-group">
        <li class="list-group-item" th:each="category: ${categories}">
            <span th:text="${category.name}"></span>
            <span class="text-muted" th:text="' (' + ${category.description} + ')'"></span>
        </li>
    </ul>

    <h3>Add New Category</h3>
    <form th:action="@{/categories}" th:method="POST">
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" class="form-control" name="name" th:value="${category} != null ? ${category.getName()} : ''"/>
        </div>
        <div class="form-group">
            <label for="desc">Description:</label>
            <input id="desc" type="text" class="form-control" name="description" th:value="${category} != null ? ${category.getDescription()} : ''"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
